<div class="container">

    <div class="header">
        <h5>Resource Enquiry Info</h5>
        <!--search functionality-->
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Search here..." [(ngModel)]="filter">
        </div>
        <a [routerLink]="['../renquiry']" class="btn btn-primary" style="float: right;margin : 15px;">Add Resource Enquiry</a>
    </div>
    <table class=" table table-bordered table-striped ">
        <thead>
            <tr>
                <th>Resource Enquiry ID</th>
                <th>Description</th>
                <th>EnquiryDate</th>
                <th>ResourceId</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let renquiry of renquiryService.renquiries | filter: filter| paginate: {itemsPerPage: 3, currentPage: page} ">
                <td (click)="populateForm(renquiry) ">{{renquiry.ResourceEnquiryId}}</td>
                <td (click)="populateForm(renquiry) ">{{renquiry.Description}}</td>
                <td (click)="populateForm(renquiry) ">{{renquiry.EnquiryDate | date:'dd-MM-yyyy'}}</td>
                <td (click)="populateForm(renquiry) ">{{renquiry.ResourceId}}</td>
                <td (click)="populateForm(renquiry) ">{{renquiry.Email}}</td>
                <td>
                    <button class="btn btn-sm btn-info" (click)="updateREnquiry(renquiry.ResourceEnquiryId)">update</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer ">
        <!--Pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
</div>