<form name="userform" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

    <!--User ID-->
    <input type="hidden" name="UserId" [(ngModel)]="userService.formData.UserId" />
    <!--<input type="hidden" name="RoleId" [(ngModel)]="userService.formData.RoleId" />
    <input type="hidden" name="isActive" [(ngModel)]="userService.formData.isActive" />-->

    <!--UserName-->
    <div class="form-group">
        <label>User Name</label>
        <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="userService.formData.UserName"
            class="form-control" placeholder="Enter Userr Name" required minlength="5" maxlength="25"
            [ngClass]="{ 'is-invalid': UserName.touched && UserName.invalid }" />
            <!--
        <div class="validation-error" *ngIf="ResourceName.touched && ResourceName.invalid">
            <div *ngIf="ResourceName.errors?.['required']">Resource Name is required</div>
        </div>-->
    </div>

    <!--User Password-->
    <div class="form-group">
        <label>User Password</label>
        <input name="UserPassword" #UserPassword="ngModel" [(ngModel)]="userService.formData.UserPassword"
            class="form-control" placeholder="Enter password" required
            [ngClass]="{ 'is-invalid': UserPassword.touched && UserPassword.invalid }" />
            <!--
        <div class="validation-error" *ngIf="ResourceCost.touched && ResourceCost.invalid">
            <div *ngIf="ResourceCost.errors?.['required']">Resource Cost is required</div>
        </div>-->
    </div>

    <!--User contact-->
    <div class="form-group">
        <label>User Contact</label>
        <input type="text" name="UserContact" #UserContact="ngModel" [(ngModel)]="userService.formData.UserContact"
            class="form-control" placeholder="Enter contact" required
            [ngClass]="{ 'is-invalid': UserContact.touched && UserContact.invalid }" />
            <!--
        <div class="validation-error" *ngIf="ResourceDesc.touched && ResourceDesc.invalid">
            <div *ngIf="ResourceDesc.errors?.['required']">Resource description is required</div>
        </div>-->
    </div>

    <!--User Email-->
    <div class="form-group">
        <label>Email</label>
        <input name="UserEmail" #UserEmail="ngModel" [(ngModel)]="userService.formData.UserEmail" class="form-control"
            placeholder="Enter email" required
            [ngClass]="{ 'is-invalid': UserEmail.touched && UserEmail.invalid }" />
            <!--
        <div class="validation-error" *ngIf="capacity.touched && capacity.invalid">
            <div *ngIf="capacity.errors?.['required']">Resource Capacity is required</div>
        </div>-->
    </div>

    <!--
    <div class="form-group">
        <div class="form-check">
            <label class="col-md-4?">Is Public</label>
            <input type="checkbox" name="RoleId" id="RoleId" #RoleId="ngModel"
                [(ngModel)]="userService.formData.RoleId" value="4" class="form-check-input">
        </div>
    </div>

    
    <div class="form-group">
        <div class="form-check">
            <label class="col-md-4?">Is Active</label>
            <input type="hidden" name="isActive" id="isActive" #isActive="ngModel"
            [(ngModel)]="userService.formData.isActive" value="true" class="form-check-input">
        </div>
    </div>-->


    <!--Submit button-->
    <br>
    <div class="form-group">
        <button type="submit" [disabled]="!(form.valid && form.dirty)"
            class="btn btn-lg btn-primary form-control">Submit</button>
    </div>


</form>
