<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!--<link rel="stylesheet" href="homeoage.css" />-->
    <title>Home page</title>
  </head>
  <body>
    <div class="banner">
    <div class="menu-bar">
      <h1 class="logo">Geo<span>Infotech</span></h1>
      <ul>
        <!--<li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href>Courses </a>

            <div class="dropdown-menu">
                <ul>
                  <li><a href="#">Add Course</a></li>
                  <li><a href="#">View Course</a></li>
                  <li><a href="#"></a></li>
                </ul>
              </div>
        </li>
        <li><a >Resources</a>
            <div class="dropdown-menu">
                <ul>
                  <li><a href="#">Add Resource</a></li>
                  <li><a href="#">View Resource</a></li>
                </ul>
              </div>
        </li>-->
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact us</a></li>
          <li><a [routerLink]="['/login']">Sign In</a></li>
          <li><a href="#">Sign Up</a></li>
      </ul>
    </div>

    
      </div>
  </body>
</html>